/* variable */
$desktop-width: 1024px;
$card-size: 400px;
$mobile-size: 200px;
$image-size: 400px;
$primary-blue: #08a0f7;

/* mixin */
@mixin cardResizer($arg...) {
	#flippable-carousel-flip-card {
		&-front {
			&-image {
				width: #{nth($arg, 1)};
				height: #{nth($arg, 1)};
			}
		}

		&-front,
		&-back {
			width: #{nth($arg, 2)};
			height: #{nth($arg, 2)};
		}
	}
}

/* responsive */
@mixin mobile {
	@media (max-width: #{$desktop-width - 1px}) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: #{$desktop-width}) {
		@content;
	}
}

/* keyframe */
@keyframes flux {
	0%,
	100% {
		text-shadow: 0 0 1vw #1041ff;
		color: #28d7fe;
	}
	50% {
		text-shadow: 0 0 0.5vw #082180;
		color: #146c80;
	}
}

@keyframes flicker {
	0%,
	18%,
	22%,
	25%,
	53%,
	57%,
	100% {
		text-shadow: 0 0 4px $primary-blue, 0 0 11px $primary-blue, 0 0 19px $primary-blue,
			0 0 40px $primary-blue;
	}

	20%,
	24%,
	55% {
		text-shadow: none;
	}
}
